@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in your global CSS file (e.g., styles.css) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

/* Handle */
.Scrollbar::-webkit-scrollbar-thumb {
  opacity: 0.1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(243, 0, 0, 0.676);
  -webkit-box-shadow: inset 0 0 6px rgba(251, 0, 0, 0.5);
}

.carousel__next {
    background: #cecece !important;
    border-radius: 5% !important;
    padding: 8px 0px !important; 
}
.carousel__prev {
    background: #cecece !important;
    border-radius: 5% !important;
    padding: 8px 0px !important;
}
